
<nav>
    <div class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">
            Gallery
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="/doom-scroll" Match="NavLinkMatch.All" class="cool-link">
            Inf Scroll
        </NavLink>
    </div>
</nav>
