
<nav>
    <div class="nav-item">
        <NavLink href="/" Match="NavLinkMatch.All">
            Gallery
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="/post/7011339" Match="NavLinkMatch.All">
            Forum
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="/post/7011338" Match="NavLinkMatch.All">
            Wiki
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink href="/Search/small_breasts" Match="NavLinkMatch.All" class="cool-link">
            Notes
        </NavLink>
    </div>
</nav>


@* <div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
    </NavLink>
</div> *@