@using Danbooru.UI.Interfaces

@rendermode InteractiveServer

<div class="options-container">

    <div class="option">
        <p>Image Width</p>
        <div class="option-group">
            <button @onclick='() => HandleWidthChange(150)'>150px</button>
            <button @onclick='() => HandleWidthChange(250)'>250px</button>
            <button @onclick='() => HandleWidthChange(350)'>350px</button>
            <button @onclick='() => HandleWidthChange(450)'>450px</button>
        </div>
    </div>

    <div class="option">
        <p>Layout</p>
        <div class="option-group">
            <button @onclick='() => HandleViewChange("catalog")'>
                <span class="material-symbols-outlined">
                    grid_view
                </span>
            </button>
            <button @onclick='() => HandleViewChange("card")'>
                <span class="material-symbols-outlined">
                    panorama_vertical
                </span>
            </button>
        </div>
    </div>

    <div class="option">
        <p>Aspect Ratio</p>
        <div class="option-group">
            <button @onclick='() => HandleAspectRatioChange("square")'>
                <span class="material-symbols-outlined">
                    check_box_outline_blank
                </span>
            </button>
            <button @onclick='() => HandleAspectRatioChange("natural")'>
                <span class="material-symbols-outlined">
                    crop_portrait
                </span>
            </button>
        </div>
    </div>

</div>

@code {
    [Inject]
    public IGallerySettingsService GallerySettingsService { get; set; }

    private void HandleAspectRatioChange(string buttonPressed)
    {
        string newAspectRatio = buttonPressed switch
        {
            "square" => "1",
            "natural" => "0",
            _ => "1"
        };

        GallerySettingsService.UpdateSetting(x => x.AspectRatio = newAspectRatio);

        GallerySettingsService.NavigateWithUpdatedSettings();
    }

    private void HandleViewChange(string buttonPressed)
    {
        string newView = buttonPressed switch
        {
            "catalog" => String.Empty,
            "card" => "card",
            _ => String.Empty
        };

        GallerySettingsService.UpdateSetting(x => x.DisplayType = newView);
        GallerySettingsService.NavigateWithUpdatedSettings();
    }

    private void HandleWidthChange(int widthInPixels)
    {
        GallerySettingsService.UpdateSetting(x => x.ImageWidth = widthInPixels);
        GallerySettingsService.NavigateWithUpdatedSettings();
    }
}
