
@rendermode InteractiveServer

<div class="options-container">

    <div class="option">
        <p>Slider, controlling image width.</p>
    </div>

    <div class="option">
        <p>Button controlling layout (gallery/card).</p>
    </div>

    <div class="option" @onclick="HandleAspectRatioChange">
        <p>Square aspect ratio or just natural.</p>
    </div>

</div>

@code {

    private void HandleAspectRatioChange()
    {
        string cookieName = "aspect-ratio";
    }
}
