<section class="website-title">
    <a href="/">
        <div class="image-container">
            <img src="images/imeji-icon.png" />
        </div>
        <p class="title">Imeji</p>
    </a>
</section>
