.search-container {
    display: flex;
    align-content: center;
    flex: 1;
    justify-content: flex-end;
}

form {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

input, button {
    padding: 10px;
    font-size: 20px;
    outline: none;
    color: var(--text);
    background-color: var(--secondary);
    border: 1px solid var(--accent);
}
button {
    padding: 10px 20px;
    cursor: pointer;
    transition: 150ms all ease-in-out;
}
button:hover {
    background-color: var(--primary);
}

input {
    min-width: 25vw;
}

.input-section {
    position: relative;
    width: auto;
}

.auto-complete-suggestions {
    position: absolute;
    background-color: var(--background);
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}

.auto-complete-option {
    padding: 10px;
}

.auto-complete-option:hover {
    cursor: pointer;
    background-color: var(--secondary);
}
